<div class="form-wrapper" [formGroup]="registerForm">
  <div class="header">
    Register
  </div>
  <div class="content">
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email" type="email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" type="password" />
    </mat-form-field>
  </div>
  <div class="actions">
    <button (click)="registerAction()" mat-raised-button color="primary">Login</button>
  </div>
</div>
