@import 'base/reset';

html,
body {
  @extend %strip;
  height: 100%;
  width: 100%;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  @extend %strip;
}
.spacer {
  flex: 1 1 auto;
}
