<mat-expansion-panel>
  <mat-expansion-panel-header>
    {{ task.content }}
  </mat-expansion-panel-header>
  <div class="detail-section">
    <h3 class="mat-h3">Created On:</h3>
    <span class="createdDate"> {{ task.createdAt | date }} </span>
  </div>
  <mat-action-row>
    <button mat-raised-button (click)="removeTask()" color="accent">Delete</button>
    <button
      mat-raised-button
      *ngIf="!task.completed"
      (click)="markComplete('done')"
      color="primary"
    >
      Mark Complete
    </button>
    <button mat-raised-button *ngIf="task.completed" (click)="markComplete('undo')" color="primary">
      Re-open
    </button>
  </mat-action-row>
</mat-expansion-panel>
