<mat-card>
  <span class="card-title">
    {{ task.content }}
  </span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    (click)="removeTask()"
    matTooltip="Delete Task"
    color="accent"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="!task.completed"
    matTooltip="Mark Complete"
    (click)="markComplete('done')"
    color="primary"
  >
    <mat-icon>done</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="task.completed"
    matTooltip="Re-open tasks"
    (click)="markComplete('undo')"
    color="primary"
  >
    <mat-icon>undo</mat-icon>
  </button>
</mat-card>
