%form-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  .header,
  .content,
  .actions {
    width: 100%;
  }
  .header {
    padding: 3px 8px;
  }
  .content {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
  }
  .actions {
    display: flex;
    flex-flow: column nowrap;
  }
}
