%task-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
