<div class="app-wrapper">
  <mat-toolbar *ngIf="isLoggedIn | async" class="mat-elevation-z6" color="primary">
    <span>Todo</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
    </mat-menu>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>
