<div class="main-wrapper">
  <div class="todo-wrapper">
    <div class="header">
      <h1 class="mat-h1">Todo App</h1>
    </div>
    <div class="list-selector">
      <mat-form-field>
        <mat-label>Cars</mat-label>
        <mat-select>
          <mat-option value="volvo">Volvo</mat-option>
          <mat-option value="saab">Saab</mat-option>
          <mat-option value="mercedes">Mercedes</mat-option>
          <mat-option value="audi">Audi</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
