<div class="task-wrapper">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="TODO">
      <div class="task-container">
        <mat-accordion>
          <app-task-item
            *ngFor="let task of inCompletedTasks | async"
            [task]="task"
            (taskStatusChange)="updateTask($event)"
            (removed)="deleteTask($event)"
          ></app-task-item>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Completed">
      <div class="task-container">
        <mat-accordion>
          <app-task-item
            *ngFor="let task of completedTasks | async"
            [task]="task"
            (taskStatusChange)="updateTask($event)"
            (removed)="deleteTask($event)"
          ></app-task-item>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
