<div class="task-wrapper">
  <div class="tasks-section">
    <div class="heading">
      Tasks to complete
    </div>
    <div class="list-container">
      <app-task-item
        *ngFor="let task of inCompletedTasks | async"
        [task]="task"
        (taskStatusChange)="updateTask($event)"
        (removed)="deleteTask($event)"
      ></app-task-item>
    </div>
  </div>

  <div class="tasks-section">
    <div class="heading">
      Completed Tasks
    </div>
    <div class="list-container">
      <app-task-item
        *ngFor="let task of completedTasks | async"
        [task]="task"
        (taskStatusChange)="updateTask($event)"
        (removed)="deleteTask($event)"
      ></app-task-item>
    </div>
  </div>
</div>
